In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/train.tsv', sep='\t')

In [3]:
df.head()

   0  0.1     Alarm set, early bird n all that. Night all xx
0  1    2  @EvanBecker513 @_TriggaPlease_ @MorbidMermaid ...
1  0    3      RT @_MindAtEase: Wet pussy with no smell a mf
2  0    3  RT @itsSamCollins: I hate seeing people with m...
3  0    3  &#8220;@RawrItsTaraa: Trust these bitches ? Na...
4  0    3                                Let a niggah try me

In [11]:
df[df['0'] > 1]

       0  0.1     Alarm set, early bird n all that. Night all xx
13     3    0  You have my word we will RT @JRwrz: @Thotcho b...
26     2    1                   @chanelisabeth that nigger music
36     2    1      I hate you niccas! Lol http://t.co/NqSYeQhGOZ
38     2    1  @SoftestMuffin @_tee13 @TorahBlaze will convin...
44     2    1        Oregon losing IN OREGON ahhhahahaha faggots
...   ..  ...                                                ...
19761  2    4  ion trust these bitches and ion trust these ni...
19764  2    1  #California is full of white trash who moved f...
19795  3    0  Aint nobody wearing those new Westbrook "Jorda...
19797  2    1  @JoeDouglas1 I guess blaspheme to your Allah i...
19812  2    6              RT @tailorlamar: yall niggas is hoes.

[1271 rows x 3 columns]

In [19]:
# Word tokenization
from spacy.lang.en import English
from spacy import displacy
import en_core_web_sm

# Load English tokenizer, tagger, parser, NER and word vectors
# nlp = English()
nlp = en_core_web_sm.load()

text = u"""New York City on Tuesday declared a public health emergency and ordered mandatory measles vaccinations amid an outbreak, becoming the latest national flash point over refusals to inoculate against dangerous diseases.

At least 285 people have contracted measles in the city since September, mostly in Brooklyn’s Williamsburg neighborhood. The order covers four Zip codes there, Mayor Bill de Blasio (D) said Tuesday.

The mandate orders all unvaccinated people in the area, including a concentration of Orthodox Jews, to receive inoculations, including for children as young as 6 months old. Anyone who resists could be fined up to $1,000."""

#  "nlp" Object is used to create documents with linguistic annotations.
my_doc = nlp(text)

# Create list of word tokens
token_list = []
for token in my_doc:
    token_list.append(token.text)
print(token_list)

entities=[(i, i.label_, i.label) for i in my_doc.ents]
entities

['New', 'York', 'City', 'on', 'Tuesday', 'declared', 'a', 'public', 'health', 'emergency', 'and', 'ordered', 'mandatory', 'measles', 'vaccinations', 'amid', 'an', 'outbreak', ',', 'becoming', 'the', 'latest', 'national', 'flash', 'point', 'over', 'refusals', 'to', 'inoculate', 'against', 'dangerous', 'diseases', '.', '\n\n', 'At', 'least', '285', 'people', 'have', 'contracted', 'measles', 'in', 'the', 'city', 'since', 'September', ',', 'mostly', 'in', 'Brooklyn', '’s', 'Williamsburg', 'neighborhood', '.', 'The', 'order', 'covers', 'four', 'Zip', 'codes', 'there', ',', 'Mayor', 'Bill', 'de', 'Blasio', '(', 'D', ')', 'said', 'Tuesday', '.', '\n\n', 'The', 'mandate', 'orders', 'all', 'unvaccinated', 'people', 'in', 'the', 'area', ',', 'including', 'a', 'concentration', 'of', 'Orthodox', 'Jews', ',', 'to', 'receive', 'inoculations', ',', 'including', 'for', 'children', 'as', 'young', 'as', '6', 'months', 'old', '.', 'Anyone', 'who', 'resists', 'could', 'be', 'fined', 'up', 'to', '$', '1,000', '.']

[]

In [13]:
my_doc

When learning data science, you shouldn't get discouraged!
Challenges and setbacks aren't failures, they're just part of the journey. You've got this!

In [14]:
type(my_doc)

spacy.tokens.doc.Doc

In [15]:
import spacy
spacy_stopwords = spacy.lang.en.stop_words.STOP_WORDS

#Printing the total number of stop words:
print('Number of stop words: %d' % len(spacy_stopwords))

#Printing first ten stop words:
print('First ten stop words: %s' % list(spacy_stopwords)[:20])

Number of stop words: 305
First ten stop words: ['back', 'i', 'nobody', 'hence', 'put', 'above', 'myself', 'indeed', 'enough', 'during', 'herein', 'they', 'themselves', 'himself', 'please', 'we', 'among', 'yourselves', 'alone', 'only']